# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# AWS credentials
.aws/

# Python (на будущее)
__pycache__/
*.pyc

# Node (на будущее)
node_modules/

# Build artifacts (локальные)
build/
dist/
